/** Bootstrap overrides **/

/* Adjusting the form and dropdown styling */
.form-control-sm {
    width: 200px;
    display: inline-block;
}
.btn-primary {
    margin-top: 10px;
}
#custom-date-picker {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}